{% extends 'mymapp/common.html' %}

{% block content %}
    <div class="m-3">
        <h2>新しいお店を追加する</h2>
        <form method="post" action="{% url 'mymapp:add_shop' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">お店の名前:</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">場所:</label>
                <input type="text" id="address" name="address" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="visit_count" class="form-label">行った回数:</label>
                <input type="number" id="visit_count" name="visit_count" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="rating" class="form-label">評価:</label>
                <input type="number" step="0.1" id="rating" name="rating" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">追加</button>
        </form>
        <a href="{% url 'mymapp:home' %}" class="btn btn-secondary mt-3">戻る</a>
    </div>
{% endblock %}
